.shop{
    color:white;
    padding: 30px;
    line-height: 50px;
    }
.icon{
    font-weight:lighter;
    font-size: xx-small;
}
.prp{
     display: flex;
     gap: 10px;
}
.list a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.list a:hover{
    color: yellow;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    text-align:center;
    padding: 10px;
    
    
}
.ij{
   width:370px ;
   height:400px ;
   
}

 