.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 30px;
  font-family: "Poppins", sans-serif;
}

.logo h1 {
  
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.je {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.je a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.je a:hover {
  color: orange;
}

.je p {
  margin: 0;
  color: white;
  line-height: 1.5;
  font-size: 15px;
}
.icon{
    padding: 10px;
    
}


@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
  }

  .logo h1 {
    margin-bottom: 20px;
  }

  .je {
    margin-bottom: 20px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 40px 10px;
    gap: 25px;
  }

  .logo h1 {
    font-size: 30px;
  }

.je a  {
    font-size: 14px;
  }
.je p {
    font-size: 14px;
  
}

}

