.ab{
padding: 30px;
display: flex;
background-color: black;
gap:2px;

}
.cont{
border-radius: 20px;
background-color: rgb(164, 44, 20);
color: rgba(252, 250, 250, 0.881);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: lighter;
padding: 20px;
width: 100%;

}
.or{
margin-top: 400px;
}
.rrr {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lr {
  width: 100%;
  height: 100vh;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 768px) {

.ab{
  flex-direction: column;
}
.cont{
  text-align: center;
  width: 100%;
  padding: 5px;

}
.or{
  line-height: 30px;
  margin-bottom: 10px;
}
}

.mission{
  background-color: black;
  color: white;
  height:20vh;
  padding: 20px;
  font-weight: lighter;
  font-family:sans-serif;
  text-align: center;
}
.tt {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: black;
  gap: 20px ;
}

.cr, .ct {
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  padding: 20px;
  width: 90%;
  line-height: 1.6;
  height: 100vh;
}

.cr {
  color: white;
  background-color: rgb(164, 44, 20);
}

.ct {
  color: black;
  background-color: white;
}

.rr {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dr {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 768px) {
  
  .tt{
    grid-template-columns: 1fr;
    padding:5px;
    
  }
  .cr,.ct{
     text-align: center;
     padding-left: 50px;
  }


}
@media (max-width: 48px) {
  
.cr,.ct{
     width: 10%;
     font-size: smaller;
  
  }
.tt{
  padding: 1px;
}

}